hgroup.about {
  margin-bottom: 20px;
  text-align: right;
  // text-shadow: 0 2px 1px white, 0 0 0 rgba(0, 0, 0, 0.7), 0 4px 6px white; 
  h1 {
    font-size: 66px;
    letter-spacing: 3px;
  }
}

img.avatar {
  @size: 200px;
  @border: 20px;

  width: @size - @border*2;
  height: @size - @border*2;
  border: @border solid @avatar-border-color;
  .box-sizing(content-box);
}

.col.image {
  width: 40%;
}

.col.desc {
  width: 60%;
}


.avatar-title(@size, @border-width, @h1-font-size, @h2-font-size) {
  .col.image {
    top: @face-sm-vertical-padding;

    img.avatar {
      width: @size;
      height: @size;
      border-width: @border-width;
    }
  }
  hgroup.about {
    h1 {
      font-size: @h1-font-size;
    }
    h2 {
      font-size: @h2-font-size;
    }
    h1, h2 {
      padding-right: @size + @border-width * 3;
    }
  }
}


@media screen and (max-width: @screen-xs-max) {
  .avatar-title(70px, 10px, 60px, 24px);
  .col.desc {
    width: 100%;
  }
  .col.image {
    right: @face-padding;
    position: absolute;
    width: auto;
  }
}

@media screen and (max-width: (@screen-xs - 1)) {
  .avatar-title(60px, 8px, 50px, 21px);
  hgroup.about h1 {
    letter-spacing: 2px;
  }
  .col.image {
    right: @face-xs-horizontal-padding;
  }
}
