meta(property="og:title", content=settings.title)
meta(property="og:image", content=gravatar({s: 150}))
meta(property="og:type", content="website")
meta(property="og:url", content=settings.url)
meta(property="og:description", content=settings.description)
