meta(name="twitter:card", content="summary")
meta(name="twitter:site", content="@"+settings.name)
//- meta(name="twitter:creator", content="@trvscx")
meta(name="twitter:title", content=settings.title)
meta(name="twitter:description", content=settings.description)
meta(name="twitter:image", content=gravatar({s:120}))
