.face {
  #gradient > .vertical(#fafafa, #f0f0f0, 40%);
  padding: 40px;
  margin: 0;
  border: 0;
  overflow: hidden;
  .box-shadow(0 0 5px 3px rgba(0, 0, 0, 0.1));
}

.static {
  // &, * {
    .transition(none) !important;
  // }
}

@media screen and (max-width: @screen-sm-max) {
  .face {
    padding: 90px 40px;
    width: 570px + 40px * 2;;
    margin: 0 auto;
  }
}

@media screen and (max-width: @screen-xs-max) {
  .face {
    width: 100%;
  }
}

@media screen and (min-width: @screen-md) {
  html.csstransforms3d {
    .card {
      .cardbox;
      z-index: 50;
      -webkit-perspective: 850px;
      -ms-perspective: 850px;
      -o-perspective: 850px;
      perspective: 850px;
      -moz-perspective: 1250px;
    }

    .face {
      position: absolute;
      top: 0;

      width: 100%;
      height: 100%;
      margin-bottom: 0 !important;
      // important because for small screen versions, the last face is
      // stretched to full window height.
      // TODO: Add a footer so this is unnecessary.

      .backface-visibility(hidden);
      .transform(rotate3d(0, 0, 0, 0deg));
      .transition-duration(1s);
      .transform-style(preserve-3d);
      .transition-property(box-shadow);
    }

    .card .current {
      z-index: 300;
      display: block;
      .transform(rotate3d(0, 0, 0, 0deg));
    }

    .card .topRight {
      .transform(rotate3d(-6.5, -4, 0, 179deg));
    }

    .topRightHover .down {
      .transform(rotate3d(-6.5, -4, 0, 7deg));
      .box-shadow(10px -10px 20px rgba(0,0,0,0.1));
    }

    .card .bottomRight {
      .transform(rotate3d(6.5, -4, 0, 179deg));
    }

    .bottomRightHover .down {
      .transform(rotate3d(6.5, -4, 0, 7deg));
      .box-shadow(10px 10px 20px rgba(0,0,0,0.1));
    }

    .card .topLeft {
      .transform(rotate3d(-6, 4, 0, 179deg));
    }

    .topLeftHover .down {
      .transform(rotate3d(-6, 4, 0, 7deg));
      .box-shadow(-10px -10px 20px rgba(0,0,0,0.1));
    }

    .card .bottomLeft {
      .transform(rotate3d(6.5, 4, 0, 179deg));
    }

    .bottomLeftHover .down {
      .transform(rotate3d(6.5, 4, 0, 7deg));
      .box-shadow(-10px 10px 20px rgba(0,0,0,0.1));
    }

    .down {
      .transition-duration(0.4s) !important;
    }
  }

}
