nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: @screen-md) {
  nav {
    .cardbox;
  }

  li.topLeft, 
  li.topRight {
    a.nav-link {
      top: -80px;
      padding-top: 30px;
    }
  }

  li.bottomLeft, 
  li.bottomRight {
    a.nav-link {
      bottom: -80px;
    }
  }

  li.topLeft, 
  li.bottomLeft {
    a.nav-link {
      left: 0;
    }
  }

  li.topRight, 
  li.bottomRight {
    a.nav-link {
      text-align: right;
      right: 0;
    }
  }

  a.nav-link {
    z-index: 100;
    display: block;
    position: absolute;
    height: 80px;
    text-decoration: none !important;
    .transition(padding .4s ease);
    &:hover .nav-link {
      font-size: 30px;
    }
  }

  .topRight, .topLeft {
    a.nav-link:hover {
      padding-top: 15px;
    }
  }

  .bottomRight, .bottomLeft {
    a.nav-link:hover {
      padding-top: 15px;
    }
  }

  li.current {
    span.nav-link {
      font-size: 56px !important;
      opacity: 0.25;
      color: @nav-current-color;
      cursor: default;
    }

    &.topRight, &.topLeft {
      a.nav-link {
        padding-top: 15px;
      }
    }

    &.bottomRight, &.bottomLeft {
      a.nav-link {
        padding-top: 10px;
      }
    }
  }

  span.nav-link {
    opacity: 1;
    display: block;
    color: @nav-color;
    font-size: 20px;
    line-height: 50px;
    .user-select(none);
    .transition(all 0.35s ease);
    .backface-visibility(hidden);
  }
}

@media screen and (max-width: @screen-sm-max) {
  .face:first-child {
    margin-top: 57px;
  }

  nav {
    position: absolute;
    width: 100%;
    top: 0;

    .nav-inner {
      // position: absolute;
      float: right;
      position: relative;
      left: -50%;
      text-align: left;
    }

    ul {
      display: block;
      position: relative;
      left: 50%;
    }

    li {
      padding: 10px 0;
      float: left;
      position: relative;
    }

    .topRight, .bottomRight {
      i {
        float: left;
        line-height: 25px;
      }
    }

    span.text {
      margin: 0.4em;
    }

    a {
      display: inline-block;
      line-height: 25px;
      padding: 5px 12px;
      margin: 0 10px;
      .border-radius(10px);
      #gradient > .vertical(#f6f6f6, #e8e8e8, 40%);
      border: 1px solid #e3e3e3;
    }
  }
}

@media screen and (max-width: @screen-xs-max) {
  nav a {
    margin: 0 3px;
    font-size: 13.5px;
    padding: 5px 9px;
  }
}
