
// import backbone css from components
// @import "bootstrap/less/bootstrap";
@import "bootstrap/less/variables";
// import own variables after bootstraps to override
@import "variables";

@import "bootstrap/less/mixins";
@import "bootstrap/less/buttons";

// Import tooltipster css from components
@import (less) "tooltipster/css/tooltipster.css";

@import "mixins";
@import "typography";
@import "bars";
@import "forms";


* { 
  .box-sizing(border-box);
  // -webkit-font-smoothing: subpixel-antialiased;
}

// screen reader only, borrowed from bootstrap
.sr-only {
  display: none;
}

html {
  // font-stretch: normal;
  // font-variant: normal;
  vertical-align: baseline;
}

html.loading {
  // everything is hidden on loading to avoid "layout FOUT" (this class 
  // is added  and removed with javascript so... while not ideal, it
  // should work)
  visibility: hidden;
}

section {
  // because the mobile nav buttons align to it
  position: relative;
}

span.text {
  margin: 0.25em;
}

hgroup.title {
  .nav {
    a {
      font-size: 20px;
      background-color: #f6f6f6;
      color: #999;
      margin: 5px 5px 5px 0;
    }
    position: absolute;
    right: 0;
    top: 0;
  }
}

body {
  overflow: hidden;
  margin: 0;
  // background: #eaf0c0;
  background: #eaeaef;

  @media screen and (max-width: @screen-sm-max) {
    overflow: visible;
  }
}

.row {
  &:before { clear: both; }
  .clearfix();
}

.col {
  float: left;
  width: 50%;
}

@import "nav";
@import "card";
@import "titles";

@import "faces/about";
@import "faces/resume";
@import "faces/contact";
@import "faces/work";
