
// import backbone css from components
// @import "bootstrap/less/bootstrap";
@import "bootstrap/less/variables";
// import own variables after bootstraps to override
@import "variables";

@import "bootstrap/less/mixins";
@import "bootstrap/less/buttons";

// Import tooltipster css from components
@import (less) "tooltipster/css/tooltipster.css";

@import "mixins";
@import "typography";
@import "bars";
@import "forms";
@import "nav";
@import "card";
@import "titles";
@import "tooltips";

* { 
  .box-sizing(border-box);
  // -webkit-font-smoothing: subpixel-antialiased;
}

// screen reader only, borrowed from bootstrap
.sr-only {
  display: none;
}

html {
  // font-stretch: normal;
  // font-variant: normal;
  vertical-align: baseline;
}

html.loading {
  // everything is hidden on loading to avoid "layout FOUT" (this class 
  // is added  and removed with javascript so... while not ideal, it
  // should work)
  visibility: hidden;
}

body {
  overflow: hidden;
  margin: 0;
  // background: #eaeaef;
  // background: url(/images/textures/wood1.jpg);
  .full-screen-background("/images/textures/wood4.jpg");
  background-color: @base-bg-color;

  @media screen and (max-width: @screen-sm-max) {
    overflow: visible;
  }
}

section {
  // because the mobile nav buttons align to it
  position: relative;
}

span.text {
  margin: 0.25em;
}

.underlined {
  padding-bottom: 4px;
  border-bottom: 2px solid @underline-color;
}

.row {
  &:before { clear: both; }
  .clearfix();
}

.col {
  float: left;
  width: 50%;
}

.static {
  .transition(none) !important;
}

@import "faces/about";
@import "faces/resume";
@import "faces/contact";
@import "faces/work";
