.site-tooltip {
	border-radius: 5px; 
	border: 1px solid @tooltip-border-color;
	background: @tooltip-bg;
	color: @tooltip-color;
}

/* Use this next selector to style things like font-size and line-height: */
.site-tooltip .tooltipster-content {
	font-family: @font-family-base;
	font-size: 14px;
	line-height: 21px;
	padding: 15px 15px;
}
