// Colors
// ----------------------
@gray:                     #666;
@gray-light:               #999;
@mustard:               #FCBB15;
@dark-green:  #006400;
@dark-slate-blue: #483D8B;
@maroonish: #881f00;
@khaki: #F0e68c;

//@brand-primary:               @dark-green;
//@brand-primary:               #b8860b;
//@brand-primary:               #008080;
@brand-primary:               #eac502;

@brand-primary:               mix(darken(@mustard, 10%), #ff0, 60%);

@brand-light:           mix(@brand-primary, #ffc, 70%);
@brand-lighter:         mix(@brand-primary, #ffc, 40%);
@brand-dark:            mix(@brand-primary, #c00, 70%);
@brand-darker:          mix(@brand-primary, #c00, 40%);

@brand-success:         #5cb85c;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;
@brand-info:            #5bc0de;

@bg-color:                 @khaki;
// @bg-color:                 darken(@brand-primary, 30%);

@base-bg-color:            contrast(@brand-primary, #1f1f1f, #ccc);
@text-color:          contrast(@bg-color, mix(@brand-primary, #333, 15%), mix(@brand-primary, #fff, 15%));
@brand-text-color:    #ffffcc;
// @brand-text-color:    contrast(@brand-primary, mix(@brand-primary, #333, 15%), mix(@brand-primary, #fff, 15%));
@brand-text-shadow: .15em .15em .1em rgba(0,0,0,0.7);
@brand-text-shadow:   .15em .15em .15em fadeout(contrast(@brand-text-color, mix(@brand-primary, #000, 50%), mix(@brand-primary, #fff, 50%)), 0%);


@link-color:       @maroonish;
@link-hover-color: lighten(@link-color, 20%);


@headings-color:                         @text-color;
@headings-small-color:   lighten(@headings-color, 10%);


// Tooltips
// ----------------------
@tooltip-color:                         @text-color;
@tooltip-bg:                         @brand-lighter;
@tooltip-border-color:                  @brand-dark;

// Card
// ----------------------
@card-overlay-start: fadeout(lighten(@bg-color, 20%), 30%);
@card-overlay-end: fadeout(@bg-color, 40%);
@card-overlay-bg: url(/images/textures/card2.jpg);

// Misc
// ----------------------
@underline-color:                    @brand-primary;
@avatar-border-color:                  @brand-light;
@nav-arrow-bg:                              #f6f6f6;
@nav-arrow-fg:                                 #999;

// Nav
// ----------------------
@nav-color:                             @brand-primary;
@nav-current-color:       fadeout(lighten(@nav-color, 15%), 70%);

// Resume
// ----------------------
@skills-bg:                          @brand-primary;
@skills-border-color:                @brand-lighter;
@skills-color:                    @brand-text-color;
@bar-1:                                 @brand-dark;
@bar-2:                              @brand-primary;
@bar-3:                                @brand-light;
@bar-text:                        @brand-text-color;

// Work
// ----------------------
@site-bg-color:                            @brand-light;
@sites-bg-color:                            @brand-dark;
@sites-text-bg:                fadeout(@brand-dark, 8%);
@sites-header-bg-color:                #fffaf0;
@sites-text-color:                     @brand-text-color;
@sites-repo-bg-color: @brand-darker;


// Form
// ----------------------
@input-error-color: #ff6666;
@input-error-bg: #fff3f3;
@label-color: @text-color;


// Other
// ----------------------

@font-family-base: Oxygen, sans-serif;
@font-size-base: 16px;
@line-height-base: 1.25;
@line-height-computed: floor(@font-size-base * @line-height-base);


@face-padding: 40px;
@face-sm-vertical-padding: 90px;
@face-xs-horizontal-padding: 20px;

@headings-font-family: Fjalla One, sans-serif;
@headings-font-weight: 400;
@headings-line-height: 1.1;

@padding-base-vertical:          6px;
@padding-base-horizontal:        8px;
@border-radius-base: 5px;


// Bootstrap Forms
// -------------------------
@input-color-placeholder:        mix(@text-color, @brand-text-color, 40%);
@input-border-focus:             #66afe9;

@input-height-base:              (@line-height-computed + (@padding-base-vertical * 2) + 2);
@input-color:                    lighten(@text-color, 2%);
@input-border:                   @brand-light;
@input-border-radius:            @border-radius-base;
@input-bg:                       mix(@brand-lighter, #fff);


// Bootstrap Buttons
// -------------------------
@btn-font-weight:                normal;

@btn-default-color:              #333;
@btn-default-bg:                 #fff;
@btn-default-border:             #ccc;

@btn-primary-color:              #fff;
@btn-primary-bg:                 @brand-primary;
@btn-primary-border:             darken(@btn-primary-bg, 5%);

@btn-success-color:              #fff;
@btn-success-bg:                 @brand-success;
@btn-success-border:             darken(@btn-success-bg, 5%);

@btn-warning-color:              #fff;
@btn-warning-bg:                 @brand-warning;
@btn-warning-border:             darken(@btn-warning-bg, 5%);

@btn-danger-color:               #fff;
@btn-danger-bg:                  @brand-danger;
@btn-danger-border:              darken(@btn-danger-bg, 5%);

@btn-info-color:                 #fff;
@btn-info-bg:                    @brand-info;
@btn-info-border:                darken(@btn-info-bg, 5%);

@btn-link-disabled-color:        @gray-light;

@card-height: 400px;
@card-width: 680px;
