// Colors
// ----------------------
@brand-primary:         #428bca;
@brand-success:         #5cb85c;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;
@brand-info:            #5bc0de;

@gray:                     #666;
@gray-light:               #999;

// Variables
// ----------------------
@font-family-base: Oxygen, sans-serif;
@font-size-base: 16px;
@line-height-base: 1.333;
@line-height-computed: floor(@font-size-base * @line-height-base);

@headings-font-family: Fjalla One, sans-serif;
@headings-font-weight: 400;
@headings-line-height: 1.1;

@padding-base-vertical:          6px;
@padding-base-horizontal:        12px;
@border-radius-base: 5px;

@text-color: #555;

@link-color: #333399;
@link-hover-color: #6666ff;

@headings-color: @text-color;
@headings-small-color: #666;

@mobile-breakpoint: 966px;


// Bootstrap Forms
// -------------------------
@state-warning-text:             #c09853;
@state-warning-bg:               #fcf8e3;
@state-warning-border:           darken(spin(@state-warning-bg, -10), 3%);

@state-danger-text:              #b94a48;
@state-danger-bg:                #f2dede;
@state-danger-border:            darken(spin(@state-danger-bg, -10), 3%);

@state-success-text:             #468847;
@state-success-bg:               #dff0d8;
@state-success-border:           darken(spin(@state-success-bg, -10), 5%);

@state-info-text:                #3a87ad;
@state-info-bg:                  #d9edf7;
@state-info-border:              darken(spin(@state-info-bg, -10), 7%);


@input-color-placeholder:        #999;;
@input-border-focus:             #66afe9;
@input-height-base: (@line-height-computed + (@padding-base-vertical * 2) + 2);
@input-color: #666;
@input-border: #ccc;
@input-border-radius: @border-radius-base;
@input-bg: #fff;


// Bootstrap Buttons
// -------------------------
@btn-font-weight:                normal;

@btn-default-color:              #333;
@btn-default-bg:                 #fff;
@btn-default-border:             #ccc;

@btn-primary-color:              #fff;
@btn-primary-bg:                 @brand-primary;
@btn-primary-border:             darken(@btn-primary-bg, 5%);

@btn-success-color:              #fff;
@btn-success-bg:                 @brand-success;
@btn-success-border:             darken(@btn-success-bg, 5%);

@btn-warning-color:              #fff;
@btn-warning-bg:                 @brand-warning;
@btn-warning-border:             darken(@btn-warning-bg, 5%);

@btn-danger-color:               #fff;
@btn-danger-bg:                  @brand-danger;
@btn-danger-border:              darken(@btn-danger-bg, 5%);

@btn-info-color:                 #fff;
@btn-info-bg:                    @brand-info;
@btn-info-border:                darken(@btn-info-bg, 5%);

@btn-link-disabled-color:        @gray-light;
