hgroup.about
  h1= settings.author
  h2.underlined
    small.tagline I make things on the internet

.row
  .col.image
    img.avatar(src=gravatar({s: 300}), alt=settings.author)
  .col.desc
    p
      | Manhattan-based <i>full-ish</i> stack web developer with a predilection
      | for <a href="http://nodejs.org" rel="external">node.js</a> and 
      | API-driven, client focused HTML5/JavaScript apps.
    p 
      | <a href="#contact"><i class="icon-envelope"></i> Contact me</a>, take a look at 
      | <a href="#resume"><i class="icon-file-text"></i> my pseudo-résumé</a> or some of 
      | <a href="#work"><i class="icon-eye-open"></i> my work</a>.
