hgroup.title 
  h1 Résumé
.col.jobs
  h2.heading Day jobs
  ul.joblist
    li.job
      h3 Tech. Director, Senior Software Engineer
      span.where e9digital
      span.when 2010-Present
      .bars
        .bar.tooltip(style="width:25%")
          span JS
          .details
            | Did the brunt of JavaScript work for all projects
        .bar.tooltip(style="width:15%")
          span Ops
          .details
            | Responsible for all system and server management.
            | Made extensive use of AWS, utilizing Chef and bluepill for
            | provisioning, deployment and monitoring.  Heroku integrations.
            | Non-trivial Sendgrid implementations.  Stuff.
        .bar.tooltip(style="width:40%")
          span Ruby/Rails
          .details
            | Built extensive and advanced CMS/CRM from the ground up 
            | which was used to host all projects for the company.
        .bar.tooltip(style="width:20%")
          span Web
          .details
            | Websites. Lots of websites. Lots of markup. Lots of Sass.
            | More Photoshop than you can possibly imagine.
    li.job
      h3 Lead Developer
      span.where Olive LLC
      span.when 2007-2009
      .bars
        .bar.tooltip(style="width:17%")
          span Flash
          .details
            | Banners and small marketing apps.
        .bar.tooltip(style="width:8%")
          span Ops
          .details
            | Deployments, server management.
        .bar.tooltip(style="width:10%")
          span PHP
          .details
            | E-com and some small marketing projects before the company
            | made the transition to Rails (at my behest).
        .bar.tooltip(style="width:65%")
          span Ruby/Rails
          .details
            | Multiple marketing websites in Rails and Sinatra and one
            | long term support e-commerce website built to integrate with
            | the then burgeoning (and ridiculously bug-ridden) NetSuite web
            | services API.
    li.job
      h3 Developer
      span.where Supernova Productions
      span.when 2006-2007
      .bars
        .bar.tooltip(style="width:65%")
          span Flash
          .details
            | CD & web based multimedia marketing and teaching applications 
            | for pharmaceuticals.  Custom Flash video streaming solutions.  
            | Lots of spinning, zooming websites and banners as were all the 
            | rage in 2006.
        .bar.tooltip(style="width:15%")
          span Java
          .details
            | Flash video splitting and other in-house tools.
        .bar.tooltip(style="width:20%")
          span PHP/Web
          .details
            | Sites and banner work for the company and its clients.

.col.skills
  div.things-love
    h4 Things I love
    ul
      li node.js
      li express
      li Backbone
      li redis
      li MongoDB
      li Faye
      li HTML5
      li VIM
      li jQuery
      li browserify
      li git
  div.things-like
    h4 Things I like
    ul
      li less/CSS
      li Bootstrap
      li grunt
      li CreateJS/EaselJS
      li AWS
      li Rails & misc Ruby
      li PhotoShop
      li Linux
  div.things-tolerate
    h4 Things I begrudgingly tolerate
    ul
      li PHP
      li RequireJS/AMD
      li MySQL
      li Flash
