.col.repos
  h2.heading
    i(class="icon-github")
    | On github
  ul.repos
    li.repo
      h3
        a(href="http://github.com/numbers1311407/mongoose-friends", rel="external")
          pre mongoose-friends
      p
        | 2-way friendship relationship plugin for Mongoose ODM

    li.repo
      h3
        a(href="http://github.com/numbers1311407/backbone-getset", rel="external")
          pre backbone-getset
      p
        | Getters & setters for your Backbone models
    li.repo
      h3
        a(href="http://github.com/numbers1311407/trvscx", rel="external")
          pre trvscx
      p
        | The source for this site! Go ahead and take it!
.col.sites
  h2.heading
    | In the wild
    i(class="icon-globe")
  ul.sites
    li#site-fivesky.site.active
      .image
      .text
        h3
          a(href="http://fivesky.com", rel="external")
            pre fivesky.com
        .row
          .col
            ul
              li - node/express
              li - Backbone
              li - less/jade
              li - responsive &times; 4
          .col
            p
              | Single page, responsive app.  Keyboard
              | nav; multistate branching forms; scroll-spy menus
    li#site-chellise.site
      .image
      .text
        h3
          a(href="http://www.chellisemichaelphotography.com", rel="external")
            pre chellisemichaelphotography.com
        .row
          .col
            ul
              li - Rails
              li - custom CMS
              li - Raphael
          .col
            p 
              | Image heavy wedding photography site.  Cloud stored image
              | manager; SVG JS animations.
    li#site-e9.site
      .image
      .text
        h3
          a(href="http://e9digital.com", rel="external")
            pre edigital.com
        .row
          .col
            ul
              li - Rails
              li - custom CMS
              li - Ajaxy
          .col
            p 
              | Our CMS, repurposed to a serve single page app with 
              | on-the-fly content loading.
    li#site-marketsmiths.site
      .image
      .text
        h3
          a(href="http://marketsmiths.com", rel="external")
            pre marketsmiths.com
        .row
          .col
            ul
              li - Rails
              li - custom CMS
          .col
            p 
              | Site for a copywriter with some CSS3 flourishes
    li#site-spd.site
      .image
      .text
        h3
          a(href="http://springdesignpartners.com", rel="external")
            pre springdesignpartners.com
        .row
          .col
            ul
              li - Rails
              li - custom CMS
              li - sleek
          .col
            p 
              | A sleek and clean blog focused site for a prominent design firm
    li#site-sugarflowershop.site.last-child
      .image
      .text
        h3
          a(href="http://sugarflowercakeshop.com", rel="external")
            pre sugarflowercakeshop.com
        .row
          .col
            ul
              li - Rails
              li - custom CMS
              li - e-commerce
          .col
            p 
              | Custom solutions for class registration and purchase and for
              | buying and watching tutorial videos.
