doctype 5
html.no-js(lang="en")
  head
    include includes/meta
    link(href='http://fonts.googleapis.com/css?family=Oswald|Yanone+Kaffeesatz|Oxygen|Play|Fjalla+One', rel='stylesheet', type='text/css')
    | !{cachify_css('/assets/css/screen.css')}
    script(type="text/javascript", src="/js/modernizr.js")
  body
    block content
    block bottom
      | !{cachify_js('/assets/js/vendor.js')}
      | !{cachify_js('/assets/js/bundle.js')}
    include includes/ga
